body {
    background-color: skyblue;
}

#random {
    display: inline;
}

img {
    height: 300px;
    display: inline-block;
}

#search {
    display: inline-block;
    margin: 0;
    padding: 0;
}

h2 {
    /*display: inline-block;*/
}

div.sprites {
    width: 300px;
    display: inline-flex;
    margin: auto;
}
